<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/gramschs/Pictures/Snagit/2025-12-16_12-26-29.mp4</key>
	<data>
	Ym9va+wCAAAAAAQQMAAAAMp9f6O7Z7zOMn1oPNKpB2ti2/6ZoAezoUVBXxVJkG946AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGdyYW1zY2hzCAAAAAEB
	AABQaWN0dXJlcwYAAAABAQAAU25hZ2l0AAAXAAAAAQEAADIwMjUtMTItMTZfMTItMjYt
	MjkubXA0ABQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFAAAAAIAAAABAMAABVdAAAAAAAA
	CAAAAAQDAADP7gMAAAAAAAgAAAAEAwAA0u4DAAAAAAAIAAAABAMAAKYNGwAAAAAACAAA
	AAQDAAAC8I4EAAAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHH
	eLyy1JXCGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQccVsH4AAAAkAAAAAQEAADQ4RDVDQjZBLTIx
	QUYtNEZFMy05REVFLTdFMDBCQTlCNjFGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABw
	AAAAAAAAAAUQAADcAAAAAAAAABAQAAAIAQAAAAAAAEAQAAD4AAAAAAAAAAIgAADUAQAA
	AAAAAAUgAABEAQAAAAAAABAgAABUAQAAAAAAABEgAACIAQAAAAAAABIgAABoAQAAAAAA
	ABMgAAB4AQAAAAAAACAgAAC0AQAAAAAAADAgAADgAQAAAAAAAAHAAAAoAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAA4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
