

/* ===== CODE-ZELLEN GRÜN ===== */
div.myst-code {
  border-left-color: #19a249 !important;
}

.dark div.myst-code {
  border-left-color: #18a046 !important;
}

/* ===== CUSTOM ADMONITIONS FÜR MYST 2.0 ===== */
